---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "About"
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Hello, I'm InfraredAces!</h2>
  <p>
    I am an aspiring firmware/software developer. In my free time, I'm a maker that work on electronics projects that 
    utilize 3D printing, laser cutting, and PCB design. I figured that I should have somewhere to showcase my projects
    and progress.
  </p>
</BaseLayout>