---
const baseURL = import.meta.env.BASE_URL
---

<div class="nav-links">
    <a href=`${baseURL}/`>Home</a>
    <a href=`${baseURL}/about/`>About</a>
    <a href=`${baseURL}/blog/`>Blog</a>
    <a href=`${baseURL}/tags/`>Tags</a>
</div>