---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title} />
    <p>Published on: {frontmatter.pubDate.toLocaleDateString()}</p>
    <p> Tags: 
        {frontmatter.tags.sort().map((tag: string, i) => (<span>
            {i > 0 && ","}
            <a href={`/tags/${tag}`}>{tag}</a>    
        </span>))}
    </p>
    <slot />
</BaseLayout>